* {
    margin: 0;
    padding: 0;
}

body {
   /* background: rgb(137, 192, 205); */
     background: linear-gradient(to right, aqua, lightgray);
    color: #fff;
}

nav {
    /* position: fixed; */
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
nav .left {
    width: 40%;
    /* background-color:blue; */
    height: 50px;
    font-size: 44px;
}

nav .right {
    width: 50%;
    /* background-color:green; */
    height: 50px;
    font-size: 18px;
}

nav .right ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
}

nav ul li a {
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}
nav ul li a:hover {
     transform: scale(1.2);
}